@font-face {
  font-family: 'Paperpillar';
  src:  url('fonts/Paperpillar.eot?ab1dyx');
  src:  url('fonts/Paperpillar.eot?ab1dyx#iefix') format('embedded-opentype'),
    url('fonts/Paperpillar.ttf?ab1dyx') format('truetype'),
    url('fonts/Paperpillar.woff?ab1dyx') format('woff'),
    url('fonts/Paperpillar.svg?ab1dyx#Paperpillar') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Paperpillar' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pp-behance:before {
  content: "\e900";
}
.icon-pp-dribbble:before {
  content: "\e901";
}
.icon-pp-envelope:before {
  content: "\e902";
}
.icon-pp-instagram:before {
  content: "\e903";
}
