body {
  margin: 0;
  height: 100vh;
  background: rgb(36, 40, 49);
  color: white;
  display: grid;
  place-content: center;
}

header {
  display: flex;

  .activator {
    padding: 1em;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      background: rgb(30, 33, 41);
    }
  }
}

img {
  width: 100%;
  max-width: 45px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  background: rgb(41, 46, 56);
  border-radius: 0 5em 5em 0;
  padding: 0.5em;
  clip-path: ellipse(50% 50% at -50% 50%);

  ul {
    display: flex;

    li a {
      display: block;
      padding: 0.5em;
      margin: 0 0.5em;
      border-radius: 50%;

      &:hover {
        background: rgb(50, 56, 68);
      }

      img {
        opacity: 0;
        transform: translateX(-10px);
      }
    }
  }
}
